{% extends 'base.html.twig' %}

{% block title %}Liste des ingrédients{% endblock %}

{% block body %}
    <div class="container mt-4">

        <h1>Liste des ingrédients</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {% if ingredients is not empty %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>createdAt</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in ingredients %}
                        <tr>
                            <td>{{ ingredient.name }}</td>
                            <td>{{ ingredient.price }} €</td>
                            <td>{{ ingredient.createdAt  }} €</td>
                            <td>
                                <!-- Exemples d'actions -->
                                {# <a href="{{ path('app_ingredient_edit', {id: ingredient.id}) }}" class="btn btn-sm btn-primary">Modifier</a> #}
                                {# <a href="{{ path('app_ingredient_delete', {id: ingredient.id}) }}" class="btn btn-sm btn-danger">Supprimer</a> #}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h4>Il n'y a pas d'ingrédients</h4>
        {% endif %}

    </div>
{% endblock %}
